html,
html * {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #58585a;
}

body {
  background-color: #eeeeee;
  margin: 0;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  font-size: 16px;
  min-height: 30px;
}

button:hover {
  opacity: 0.9;
}
