html,
html * {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #58585a;
}

body {
  background-color: #eeeeee;
  margin: 0;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

p {
  margin: 0;
}

.header-container {
  border-top: solid #a5cf47 20px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: auto;
  max-width: 1000px;
  max-height: 20px;
}

.header-title {
  margin-left: 20px;
  font-size: 24px;
}

.logo {
  height: 48px;
  width: auto;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 100px;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
}

.gallery-app {
  border: solid #dddddd 1px;
  border-radius: 10px;
  background-color: white;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 160px;
}

.app-image {
  margin: auto;
  width: 100%;
}

.app-description-container {
  margin-top: 2px;
}

.app-title {
  font-weight: 800;
  font-size: 16px;
  color: #128ba8;
}

.app-title:hover {
  color: #105fa8;
}

.app-author {
  color: #58585a;
}
